<div class="side">
    <h2>About ATN Shop</h2>
    <h5>Photo of me:</h5>
    <div class="fakeimg" style="height:200px;"></div>
    <br>
    <br>
    <h3>More Text</h3>
    <br>
    <br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div><br>
    <div class="fakeimg" style="height:60px;">Image</div>
  </div>